* {
  box-sizing: content-box;
}
.header ::placeholder {
  color: #fdfdfd;
  padding-left: 0.75em;
}
.header {
  background-color: #0f1c26;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 6.5em;
}
body {
  background-color: #1d2226;
  margin: 0;
  color: white;
  font-family: "Manrope", sans-serif;
}
.usuario {
  display: flex;
  align-items: center;
}
.usuario img {
  padding-left: 10px;
  width: 56px;
  height: 56px;
}
.search {
  display: flex;
  align-items: center;
}
.search > img {
  margin-right: 3em;
}
.search-box {
  display: flex;
  height: 40px;
  background: #171b1e;
}
.search-box img {
  align-self: center;
  background: #171b1e;
  height: 2.5em auto;
  padding-right: 1em;
}
.search-box input {
  all: unset;
  background: #171b1e;
  min-height: 2.5em;
  width: 20vw;
  color: white;
  align-self: center;
  padding-left: 0.5em;
}

.filme {
  margin-right: 1.27em;
  height: 20em;
  width: 10.5em;
  border: 2px solid #676767;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.filme-topo {
  padding-left: 0.75em;
  padding-top: 0.75em;
}
.filme-rodape-classe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0em 0.5em;
}
.nota {
  color: #fbcd6e;
}
.filme-rodape-add {
  display: flex;
  justify-content: space-between;
  background-color: #a785ed;
  padding: 0em 0.5em;
  margin: 0.5em;
  outline: inherit;
  height: 2em;
  width: 10.5em;
  align-items: center;
}
.filme-rodape-add:hover {
  background: linear-gradient(
      0deg,
      rgba(46, 46, 46, 0.45),
      rgba(46, 46, 46, 0.45)
    ),
    #a785ed;
}
.container {
  display: flex;
  flex-direction: row;
}
.generos {
  margin-bottom: 1.5em;
}
.generos button {
  margin-right: 0.75em;
  background: #1d2226;
  color: #676767;
  border: 2px solid #676767;
  height: 2em;
  width: 8.25em;
  font-size: 1.2em;
  outline: inherit;
}
.generos button:hover {
  color: #e183c8;
  border: 2px solid #e183c8;
}
a {
  text-decoration: none;
  color: white;
  padding-left: 6px;
}
.discount,
.favorite {
  display: flex;
  align-items: center;
}
.content {
  display: flex;
  justify-content: space-around;
}
.bag-content {
  text-align: center;
}
.bag-bottom {
  background: #171b1e;
  padding-bottom: 0.35em;
}
.bag-header {
  font-size: 1.6rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  background-color: #a785ed;
  padding: 0.75em 0em;
  justify-content: center;
}
.right-content {
  margin-top: 2.5em;
}
.title {
  padding-top: 1em;
  margin: 0;
  font-size: 1.6em;
  font-weight: bold;
}
.subtitle {
  font-size: 1rem;
}
.bag-fotter {
  font-size: 0.75em;
  margin-left: 1rem;
}
.bag-fotter-input {
  display: flex;
  justify-content: space-between;
  padding: 1em 1em 1em 1em;
  margin: 0em 1em 1em 1em;
  background: #0b1217;
  min-width: 15vw;
}

.bag-fotter-input input {
  all: unset;
  color: white;
  min-width: 15vw;
}
.bag {
  position: sticky;
  top: 2.5em;
}
